//- top.pug


div.border-bottom
  div.container.py-2
    div.row
      div.col-sm
        a.nav-link(href='http://devmode.pl', target='_blank')
          img(src='/images/logo.png', alt='devmode', width='200')
      div.col-sm.py-4
        ul.nav.justify-content-end
          li.nav-item
            a.nav-link(href='/pages/home') Home
          li.nav-item
            a.nav-link(href='/pages/api') Api Calls
          li.nav-item
            a.nav-link(href='/pages/web') Website links
          li.nav-item
            a.nav-link(href='/pages/firebase', target='_blank') Notifications
          li.nav-item
            a.nav-link(href='/contact/form') Contact