extends ../layout

block content
  h1.text-center.my-5 #{title}

  form(method="POST", action="/ads/add/submit", enctype="multipart/form-data")

    div.my-3.row
      div.col-sm
        a(href='/ads/search')
          span.btn.btn-success Adds List
      div.col-sm.text-right
        button.btn.btn-primary(type="submit") Submit
 
    div
      div.row
        div.col-sm
          div.form-group
            label Title
            input.form-control(type="text", name="title", id="title" required)
          div.form-group
            label Address
            input.form-control(type="text", name="address", id="address")
          div.form-group
            label Phone
            input.form-control(type="text", name="phone", id="phone")
          div.form-group
            label Price
            input.form-control(type="number", name="price", id="price")
          div.form-group
            label Days active
            div
              div.custom-control.custom-radio.custom-control-inline
                input.custom-control-input(type="radio", name="days", id="days1", value="10" checked)
                label.custom-control-label(for="days1") 10
              div.custom-control.custom-radio.custom-control-inline
                input.custom-control-input(type="radio", name="days", id="days2", value="30")
                label.custom-control-label(for="days2") 30
        div.col-sm
          div.form-group
            label Description
            textarea.form-control(name="description", id="description")
          div.form-group
            label Type
            select.custom-select(name="typeId", id="typeId")
              option(value="1") Programming
              option(value="2") Building
              option(value="3") Pets
          div.form-group
            label Image File
            div.custom-file 
              label.custom-file-label(for="media", id="mediaInfo")
              input.custom-file-input(type="file", name="media", id="media")

    div.my-3.row
      div.col-sm
      div.col-sm.text-right
        button.btn.btn-primary(type="submit") Submit